.clr-1{color:#57AD57;}
.clr-1-alt{color:#577E43;}
.clr-2{color:#5594BD;}
.clr-3{color:#B8E9EC;}
.clr-4{color:#000000;}
.clr-5{color:#F1F1F1;}

.bg-clr-1{background-color: #57AD57;}
.bg-clr-1-alt{background-color: #577E43;}
.bg-clr-2{background-color: #5594BD;}
.bg-clr-3{background-color: #B8E9EC;}
.bg-clr-4{background: #000000 !important;}
.bg-clr-5{background-color: #F1F1F1;}

.b-clr-1{border:1px solid #57AD57;}
.b-clr-1-alt{border:1px solid #577E43;}
.b-clr-2{border:1px solid #5594BD;}
.b-clr-3{border:1px solid #B8E9EC;}
.b-clr-4{border:1px solid #000000;}
.b-clr-5{border:1px solid #F1F1F1;}